.home-section{
    background-image: url("/img/home/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 812px;
}
.home-title{
    margin-top: 30px;
    font-family: "Audiowide", sans-serif;
        font-weight: 400;
        font-size: 48px;
        line-height: 1.2;
        color: #afcfff;
        margin-bottom: 24px;
}
@media only screen and (min-width: 1440px) {
  .home-section{
    background-image: url("/img/home/desk.png");
    height: 759px;
  }
  .home-title{
    font-size: 72px;
    margin-top: 70px;
    margin-bottom: 34px;
  }
  .home-text{
width: 640px;
  }
}
/* The Grid */
.grid-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.grid-text-wrapper{
    display: flex;
        flex-direction: column;
gap: 20px;
}
@media only screen and (min-width: 1440px) {
.grid-container{
    flex-direction: row;
    gap: 76px;
}
.grid-wrapper{
    width: 544px;
}
}
/* How It Works */
.how-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 32px;
}
.how-item{
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: 1px solid #1e2428;
        border-radius: 16px;
        padding: 16px;
        width: 343px;
        height: auto;
background: #13171a;
}
.how-item-title{
    font-family: "Sofia Sans Semi Condensed", sans-serif;
        font-weight: 600;
        font-size: 18px;
        line-height: 1.5;
        color: #afcfff;
}
@media only screen and (min-width: 1440px) {
  .how-list{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    row-gap: 28px;
    margin-bottom: 64px;
  }
  .how-item{
    width: 352px;
    min-height: 159px;
  }
  .how-item-title{
    font-size: 20px;
  }
  .how-img{
    width: 1120px;
        height: 564px;
  }
}
/* Magnetic Rules */
@media only screen and (min-width: 1440px) {
    .magnetic-img{
        width: 500px;
            height: 500px;
    }
}
/* Chain Reactions */
.chain-list{
    padding-left: 30px;
    list-style-type: disc;
}
/* Difficulty Curve */
.difficulty-title{
    margin-bottom: 16px;
}
.difficulty-text{
font-size: 24px;
    line-height: 1.3;
}
.difficulty-list{
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 32px;
}
.difficulty-item{
    border: 1px solid #1e2428;
        border-radius: 16px;
        padding: 16px;
        width: 343px;
        height: auto;
background: #13171a;
display: flex;
flex-direction: column;
gap: 16px;
}
.difficulty-item-title{
    font-weight: 600;
        font-size: 18px;
color: #afcfff;
}
.difficulty-item-list{
    list-style-type: disc;
    padding-left: 20px;
}
.difficulty-img{
    margin-top: 32px;
}
@media only screen and (min-width: 1440px) {
 .difficulty-text{
    font-size: 28px;
 }
 .difficulty-list{
    flex-direction: row;
    gap: 32px;
 }
 .difficulty-item{
    width: 352px;
    height: 186px;
 }
 .difficulty-img{
    width: 1120px;
        height: 496px;
 }
}